/*General styling*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00091a;
  height: 100%;
  color: white;
}

/*All Div tags*/
div{
  margin:8px 0;
}

#option button{
  margin-right: 8px;
}

#quiz-container{
  background: linear-gradient(to bottom, #3498db, #ecf0f1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 457.6px;
  margin: 3rem auto;
  max-width: 600px;
  padding: 2rem;
  border-radius: 8px;
  color: #00091a;
  zoom: 1;
  width: 80%;
}

#quiz-content{
  display: none;
}

#quiz-start-btn{
  margin-top: 1rem;
  padding:1rem 2rem;
}

#quiz-start-text{
  font-size: 1rem;
  color:#333;
  padding: 1.5rem 2rem;
}

#quiz-timer{
  background-color: #eee;
  width: 60px;
  height: 40px;
  margin: .5rem auto;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

#progress{
  height: 48px;
  padding: 8px;
}

#next-question{
  border-radius: 1.8rem;
  margin-top:3rem ;
  padding: .8rem 2rem;
}

#question{
  font-size: 1.35rem;
  height: 80px;
}

#options{
  height: 125px;
}

#options button{
  position: relative;
}











/*Footer style*/
.footer{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
}