* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to right, #007BFF, #000066,  #000000);
  height: 100%;
}

div {
  margin: 8px 0;
}

#options button {
  margin-right: 8px;
}
.container {
  position: relative;
}
#progress-bar-container {
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  width: 112%;
  height: 3px;
  box-shadow:0 6px 10px rgba(0, 0, 0, 0.499);

  /* box-shadow: 0 14px 6px rgba(0, 0, 0, 0.159);  */
}

#progress-bar {
  position: absolute;
  top: -0.5rem;
  height: 100%;


}
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1rem;
  
}
h2{
  font-weight: 700;
}
#quiz-container {
  zoom: 1;
  width: 80%;
  max-width: 600px;
  min-height: 457.6px;
  padding: 2rem;
  text-align: center;
  margin: 3rem auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.452);
  margin-top: 17px;

}

#quiz-content {
  display: none;
}

#quiz-start-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
}

#quiz-start-text {
  font-size: 1rem;
  color: #333;
  padding: 1.5rem 2rem;
}
.timer-container{
  font-size: 1rem;
  font-weight: bold;
  background-color: #09959c3d;
  border-radius: 4px;
  padding: 10px;
  width: 160px;
  height: 45px;
  display: flex;
  justify-content: space-between;


}

.timer-container p{
  color: rgb(15, 2, 58);
  text-align: left;
}

#quiz-timer {
  background-color: #09011be9;
  border-radius: 4px;
  padding: 4px;
  width: 50px;
  height: 30px;
  margin-top: -0.3rem ;
  
  color: white;
}

#progress {
  padding: 8px; 
}

.straightline{
  height: 1.2px;
  width: 112%;
  margin-left: -2rem;
  background-color: #00000044;
  margin-top: 9rem;

}
.bottom{
  display: flex;
  justify-content: space-between;
  
}
#next-question { 
  border-radius: .5rem;
  padding: .4rem 2rem;
  height: 2.8rem;
 
}

#question { 
  margin-top: 2rem; 
  font-size: 1.35rem;
  height: 80px; 
  text-align: left;
}

#options { 
  margin-top: -1rem; 
  height: 125px;
}

#options button {
  position: relative;
  color: #000;
  background-color: #0bdcf717;
  width: 100%;
  text-align: left;
}

/* .selected-answer, .selected-answer:active, .selected-answer:hover {
  background-color: #000000d8;
  border: 0.2px solid #035a60;
  color: #e8d7d7;
  
} */

.tooltip {
  visibility: hidden;
  width: auto;
  font-size: 1rem;
  background-color: #eee;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 8px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.show-tooltip {
  visibility: visible;
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.question-review {
  margin-top: 3rem;
  padding: 0 1rem;
  text-align: left;
}

.review-container {
  margin-top: 44rem;
}

.review-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feedback {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 3.5rem;
}

#retry-quiz {
  position: absolute;
  top: 11rem; 
  left: calc(50% - 190px);
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px; 
    cursor: pointer; 
    border: none;
    border-radius: 4px; 
    transition-duration: 0.4s; 
}

#retry-quiz:hover {
    background-color: #45a049; 
}

#download-pdf {
  position: absolute;
  top: 11rem;
  left: calc(50% - 40px);
    background-color: #f44336;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#download-pdf:hover {
    background-color: #d32f2f;
}

#resultsChart {
  position: absolute;
  top: 14.8rem;
  left: calc(600px -100vw);
}
